html {
	background-color: #5dd29cff;
}

body {
	width: 150px;
	height: 55px;
	margin:auto;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	color: white;
	font-size: 36px;
}